* {
	-fx-font-size: 12px;
}

.button {
	-fx-font-size: 14px;
}

.tool-bar .button {
    -fx-border-width: 0px;
}

.btn {
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-border-radius: 4px;
    -fx-cursor: pointer;
}

.btn-primary {
	-fx-background-color: #409bff;
	-fx-border-color: #409bff;
	-fx-text-fill: white;
}

.btn-primary:hover {
	-fx-background-color: #66b1ff;
	-fx-border-color: #66b1ff;
}

.btn-default {
    -fx-text-fill: #606266;
    -fx-background-color: #fff;
    -fx-border-color: #dcdfe6;
}

.btn-default:hover {
    -fx-text-fill: #409bff;
    -fx-background-color: #c6e2ff;
    -fx-border-color: #ecf5ff;
}



.btn-success:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #449d44;
    -fx-border-color: #398439;
}

.btn-success {
    -fx-text-fill: #fff;
    -fx-background-color: #5cb85c;
    -fx-border-color: #4cae4c;
}

.consoleTextArea {
	-fx-stroke: white;
	-fx-fill: black;
	-fx-background-color: black;
}

.consoleTextArea:focused {
}

.tree-cell:selected {
    -fx-text-fill: #409bff;
    -fx-background-color: #ecf5ff;
}
.tree-cell:selected .arrow{
    -fx-text-fill: #409bff;
    -fx-background-color: #409bff;
}


.tree-view:focused {
    -fx-background-color: transparent;
}